USE [master]
GO
/****** Object:  Database [QLCHUYENBAY]    Script Date: 5/11/2020 12:43:24 PM ******/
CREATE DATABASE [QLCHUYENBAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCHUYENBAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLCHUYENBAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCHUYENBAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLCHUYENBAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCHUYENBAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCHUYENBAY]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACB] [nvarchar](4) NOT NULL,
	[SBDI] [nvarchar](3) NULL,
	[SBDEN] [nvarchar](3) NULL,
	[GIODI] [time](7) NULL,
	[GIODEN] [time](7) NULL,
 CONSTRAINT [PK_CB] PRIMARY KEY CLUSTERED 
(
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATCHO]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATCHO](
	[MAKH] [nvarchar](15) NOT NULL,
	[NGAYDI] [date] NOT NULL,
	[MACB] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_DC] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[NGAYDI] ASC,
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](15) NOT NULL,
	[TEN] [nvarchar](15) NULL,
	[DCHI] [nvarchar](50) NULL,
	[DTHOAI] [nchar](12) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHANANG]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANANG](
	[MANV] [nvarchar](15) NOT NULL,
	[MALOAI] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_KN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHBAY]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHBAY](
	[NGAYDI] [date] NOT NULL,
	[MACB] [nvarchar](4) NOT NULL,
	[SOHIEU] [int] NULL,
	[MALOAI] [nvarchar](15) NULL,
 CONSTRAINT [PK_LB] PRIMARY KEY CLUSTERED 
(
	[NGAYDI] ASC,
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMB]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMB](
	[MALOAI] [nvarchar](15) NOT NULL,
	[HANGSX] [nvarchar](15) NULL,
 CONSTRAINT [PK_LMB] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[SOHIEU] [int] NOT NULL,
	[MALOAI] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MB] PRIMARY KEY CLUSTERED 
(
	[SOHIEU] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](15) NOT NULL,
	[TEN] [nvarchar](15) NULL,
	[DCHI] [nvarchar](50) NULL,
	[DTHOAI] [nchar](12) NULL,
	[LUONG] [float] NULL,
	[LOAINV] [bit] NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 5/11/2020 12:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MANV] [nvarchar](15) NOT NULL,
	[NGAYDI] [date] NOT NULL,
	[MACB] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_PC] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYDI] ASC,
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DATCHO]  WITH CHECK ADD  CONSTRAINT [FK_DATCHO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATCHO] CHECK CONSTRAINT [FK_DATCHO_KHACHHANG]
GO
ALTER TABLE [dbo].[DATCHO]  WITH CHECK ADD  CONSTRAINT [FK_DATCHO_LICHBAY] FOREIGN KEY([NGAYDI], [MACB])
REFERENCES [dbo].[LICHBAY] ([NGAYDI], [MACB])
GO
ALTER TABLE [dbo].[DATCHO] CHECK CONSTRAINT [FK_DATCHO_LICHBAY]
GO
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANG_LOAIMB] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMB] ([MALOAI])
GO
ALTER TABLE [dbo].[KHANANG] CHECK CONSTRAINT [FK_KHANANG_LOAIMB]
GO
ALTER TABLE [dbo].[KHANANG]  WITH CHECK ADD  CONSTRAINT [FK_KHANANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHANANG] CHECK CONSTRAINT [FK_KHANANG_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHBAY]  WITH CHECK ADD  CONSTRAINT [FK_LICH_CHUYENBAY] FOREIGN KEY([MACB])
REFERENCES [dbo].[CHUYENBAY] ([MACB])
GO
ALTER TABLE [dbo].[LICHBAY] CHECK CONSTRAINT [FK_LICH_CHUYENBAY]
GO
ALTER TABLE [dbo].[LICHBAY]  WITH CHECK ADD  CONSTRAINT [FK_LICHBAY_MAYBAY] FOREIGN KEY([SOHIEU], [MALOAI])
REFERENCES [dbo].[MAYBAY] ([SOHIEU], [MALOAI])
GO
ALTER TABLE [dbo].[LICHBAY] CHECK CONSTRAINT [FK_LICHBAY_MAYBAY]
GO
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_LOAIMB] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMB] ([MALOAI])
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_LOAIMB]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_LICHBAY] FOREIGN KEY([NGAYDI], [MACB])
REFERENCES [dbo].[LICHBAY] ([NGAYDI], [MACB])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_LICHBAY]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
USE [master]
GO
